---
import Community from "../components/Community.astro";
import { Image } from "astro:assets";

import Footer from "../components/IndexFooter.astro";
import playStore from "../assets/play-store.png";
import appStore from "../assets/app-store.png";
// import youtube from "../assets/youtube.png";
// import facebook from "../assets/facebook.png";
// import joinCommunity from "../assets/join-community.png";
// import huntGameApp from "../assets/hunt-game.png";
// import huntGameAppDesk from "../assets/huntgame-app-desk.png";
import testimonial1 from "../assets/testimonial-1.jpg";
import testimonial2 from "../assets/testimonial-2.jpg";
import testimonial3 from "../assets/testimonial-3.jpg";
import testimonial4 from "../assets/testimonial-4.jpg";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Huntgame" content="Huntgame">
  <main class="text-white overflow-hidden">
    <Hero />
    <div
      class="bg-primaryBg pb-16 lg:pb-40 px-7 sm:px-16 md:px-32 lg:px-44 xl:px-56"
    >
      <Community />
      <!-- <section
        class="text-black bg-[#ffeeee4d] rounded-[1.225rem] mt-3 sm:mt-20 lg:mt-52 grid grid-cols-2 items-center lg:gap-12 lg:rounded-[30px] pt-4 pl-8 lg:pt-9 lg:pl-14"
      >
        <div class="pb-[18px]">
          <h3
            class="slackey whitespace-nowrap mb-4 sm:text-xl md:text-3xl lg:mb-12 text-[#5D0740]"
          >
            Join our community
          </h3>
          <p class="slackey sm:text-xl md:text-2xl">Download huntgame app</p>
          <span
            class="flex items-center mt-2 mb-6 gap-3 lg:mb-16 lg:mt-9 lg:gap-7"
          >
            <Image alt="" src={playStore} class="w-[16.7vw] lg:[14.7vw]" />
            <Image alt="" src={appStore} class="w-[16.7vw] lg:[14.7vw]" />
          </span>
          <p class="slackey lg:text-2xl">Subscribe to<br /> huntgameshow</p>
          <div class="flex gap-1 lg:gap-2 mt-1 lg:mt-8 items-center">
            <Image
              alt=" "
              src={youtube}
              class="w-8 h-6 lg:w-[73px] lg:h-auto"
            />
            <span
              class="lg:w-14 lg:h-9 w-6 h-4 rounded-[10px] lg:bg-[#0866FF] flex justify-center"
            >
              <Image alt="" src={facebook} class="h-full" />
            </span>
          </div>
        </div>
        <Image alt="" src={joinCommunity} class="h-full" />
      </section> -->
      <section
        class="bg-white/95 rounded-[20px] py-14 px-10 lg:py-24 lg:px-16 flex flex-col gap-7 md:flex-row w-full"
      >
        <div
          class="bg-white flex-1 py-12 px-6 text-center rounded-[20px] lg:px-12 min-w-0 lg:pb-[101px] lg:pt-[90px]"
        >
          <h5 class="text-xl font-extrabold text-primaryBg mb-2 lg:text-4xl">
            JOIN HUNTGAME
          </h5>
          <p class="text-black mb-14 lg:text-2xl">
            Join a premium community of users seeking love and companionship.
          </p>
          <button
            class="w-full rounded-[50px] text-white bg-primaryBg h-14 lg:h-20 relative"
            id="getStarted">Get started</button
          >
        </div>
        <img
          alt="hunt game app on phone"
          src="/phonemobile.png"
          class="mx-auto flex-1 lg:hidden w-full h-auto min-w-0 grow rounded-[20px]"
        />
        <img
          alt="hunt game app on phone"
          src="/huntgame-app-desk.png"
          class="mx-auto flex-1 hidden lg:block w-full h-auto min-w-0 grow rounded-[20px]"
        />
        <div
          class="relative z-10 hidden"
          aria-labelledby="modal-title"
          role="dialog"
          aria-modal="true"
          id="appDialog"
        >
          <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
          <div
            class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            aria-hidden="true"
          >
          </div>

          <div class="fixed inset-0 z-50 w-screen overflow-y-auto">
            <div
              class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0"
            >
              <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
              <div
                class="relative transform flex gap-1 w-[80%] flex-col justify-center items-center pt-10 pb-8 overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
              >
                <p class="text-primaryBg text-2xl font-extrabold">
                  JOIN HUNTGAME
                </p>
                <p class="text-black">Download the huntgame app today.</p>
                <div class="flex gap-4 mx-6 mt-5 lg:mx-9">
                  <a href="">
                    <Image
                      src={playStore}
                      alt="link to our app on play store"
                      class="hover:border-2 border-primaryBg rounded"
                    />
                  </a>
                  <a href="">
                    <Image
                      src={appStore}
                      alt="link to our app on app store"
                      class="hover:border-2 border-primaryBg rounded"
                    />
                  </a>
                </div>
                <button
                  class="top-1 right-4 text-black absolute text-2xl"
                  id="closeDialog">X</button
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3
          class="font-extrabold text-center mt-14 mb-[22px] lg:mt-[72px] lg:mb-12 lg:text-xl"
        >
          FEATURED PRODUCTS
        </h3>
        <div class="flex-col gap-7 flex lg:flex-row justify-between">
          <div
            class="bg-white rounded-[10px] lg:w-full mx-10 lg:mx-0 lg:rounded-[20px] flex flex-col xl:flex-row sm:flex-row lg:flex-col"
          >
            <img
              alt="happy couples"
              src="match-making.png"
              class="w-full rounded-tl-[10px] rounded-tr-[10px] lg:rounded-tl-[10px] lg:rounded-tr-[10px] lg:w-full xl:rounded-tl-[20px] xl:rounded-tr-[0px] xl:rounded-bl-[20px] sm:rounded-tl-[20px] sm:rounded-tr-[0px] sm:rounded-bl-[20px] sm:w-48 sm:h-52 xl:w-48 h-52 aspect-[131/106]"
            />
            <div
              class="px-5 py-6 sm:flex sm:flex-col sm:justify-center lg:gap-2"
            >
              <h5 class="text-primaryBg font-extrabold text-lg lg:text-2xl">
                Premium match making
              </h5>
              <p class="text-black lg:text-xl">
                Get matched with people of similar qualities and thoughts.
              </p>
            </div>
          </div>
          <div
            class="bg-white rounded-[10px] lg:w-full mx-10 lg:mx-0 lg:rounded-[20px] flex flex-col xl:flex-row sm:flex-row lg:flex-col"
          >
            <img
              alt="happy couples"
              src="all-hands.png"
              class="w-full rounded-tl-[10px] rounded-tr-[10px] lg:rounded-tl-[10px] lg:rounded-tr-[10px] lg:w-full xl:rounded-tl-[20px] xl:rounded-tr-[0px] xl:rounded-bl-[20px] sm:rounded-tl-[20px] sm:rounded-tr-[0px] sm:rounded-bl-[20px] sm:w-48 sm:h-52 xl:w-48 h-52 aspect-[131/106]"
            />
            <div
              class="px-5 py-6 sm:flex sm:flex-col sm:justify-center lg:gap-2"
            >
              <h5 class="text-primaryBg font-extrabold text-lg lg:text-2xl">
                A community of like minds
              </h5>
              <p class="text-black lg:text-xl">
                Join a premium community of users seeking love and
                companionship.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3
          class="font-extrabold text-center mt-14 mb-[22px] lg:mt-28 lg:mb-8 lg:text-xl"
        >
          TESTIMONIALS
        </h3>
        <div class="flex gap-6 overflow-x-auto justify-between">
          <div class="bg-white rounded-[10px] lg:w-full w-max">
            <Image
              alt="happy couples"
              src={testimonial1}
              class="rounded-t-[10px] w-56 h-52 lg:w-full lg:h-auto"
            />
            <div class="px-5 py-6 w-56 lg:w-full lg:h-36">
              <p class="text-black">
                Special thanks to huntgame for this opportunity, it was a
                genuine connection.
              </p>
            </div>
          </div>
          <div class="bg-white rounded-[10px] lg:w-full">
            <Image
              alt="happy couples"
              src={testimonial2}
              class="rounded-t-[10px] w-56 h-52 lg:w-full lg:h-auto"
            />
            <div class="px-5 py-6 w-56 lg:w-full lg:h-36">
              <p class="text-black">
                Huntgame was an easy place to meet and find genuine connections.
              </p>
            </div>
          </div>
          <div class="bg-white rounded-[10px] lg:w-full">
            <Image
              alt="happy couples"
              src={testimonial3}
              class="rounded-t-[10px] w-56 h-52 lg:w-full lg:h-auto"
            />
            <div class="px-5 py-6 w-56 lg:w-full lg:h-36">
              <p class="text-black">
                Huntgame is a good community, finding love was easy.
              </p>
            </div>
          </div>
          <div class="bg-white rounded-[10px] lg:w-full">
            <Image
              alt="happy couples"
              src={testimonial4}
              class="rounded-t-[10px] w-56 h-52 lg:w-full lg:h-auto"
            />
            <div class="px-5 py-6 w-56 lg:w-full lg:h-36">
              <p class="text-black">
                We met at huntgame and the rest is history, all thanks to
                huntgame show.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <Footer />
</Layout>
<script>
  const closeDialog = document.getElementById("closeDialog");
  const appDialog = document.getElementById("appDialog");
  const getStarted = document.getElementById("getStarted");

  closeDialog?.addEventListener("click", () =>
    appDialog?.classList.add("hidden")
  );
  getStarted?.addEventListener("click", () =>
    appDialog?.classList.remove("hidden")
  );
</script>
