---
import { Image } from "astro:assets";

import yt from "../assets/yt.png";
import fb from "../assets/fb.png";
import instagram from "../assets/in.png";
import mail from "../assets/mail.png";
import Playstore from "../assets/play-store.png";
import appStore from "../assets/app-store.png";
---

<footer
  class="bg-primaryBg text-white py-9 px-7 md:px-14 lg:px-52 text-xs md:text-base"
>
  <div class="flex flex-col xl:flex-row gap-7 xl:gap-36 justify-between">
    <span class="w-4/5 xl:w-1/2">
      <h3 class="slackey text-xs mb-2 lg:text-xl">
        Hunt<span class="text-[#A40D0D]">g</span>ame
      </h3>
      <p>
        Huntgame offers a secure and inclusive environment where participants
        can explore meaningful connections and find love. The show reimagines
        the dating experience by bringing together individuals who are serious
        about forming genuine relationships. Through a careful selection
        process, participants join an exclusive community where they can enjoy a
        unique and memorable journey in their quest for love.
      </p>
    </span>
    <ul class="space-y-2 lg:space-y-3 shrink w-max">
      <h3 class="slackey text-xs mb-2 lg:text-xl lg:mb-3">Quick links</h3>
      <li>
        <a class="hover:underline whitespace-nowrap" href="/about-us"
          >About us</a
        >
      </li>
      <li>
        <a
          class="hover:underline whitespace-nowrap"
          href="/community-guidelines">Community guidelines</a
        >
      </li>
      <li>
        <a class="hover:underline whitespace-nowrap" href="/privacy-policy"
          >Privacy policy</a
        >
      </li>
      <li>
        <a class="hover:underline whitespace-nowrap" href="/contact-us"
          >Contact us</a
        >
      </li>
    </ul>
    <div class="text-xs lg:text-xl shrink">
      <div>
        <h3 class="slackey mb-4 lg:mb-5 whitespace-nowrap">Connect with us</h3>
        <div class="flex gap-3 mb-5 lg:mb-8">
          <Image alt="" src={yt} />
          <Image alt="" src={fb} />
          <Image alt="" src={instagram} />
          <Image alt="" src={mail} />
        </div>
        <h3 class="slackey mb-2 lg:mb-8">Download app</h3>
        <div class="flex gap-3">
          <Image alt="" src={Playstore} class="w-20 lg:w-32" />
          <Image alt="" src={appStore} class="w-20 lg:w-32" />
        </div>
      </div>
    </div>
  </div>
  <div class="righteous text-[#9E9E9E] text-center mt-[90px] mb-2">
    <p class="font-extrabold">Huntgames limited</p>
    <p class="text-xs">© 2024, All rights reserved</p>
  </div>
</footer>
